@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@700;800&display=swap');
@import './sidebar.css';
:root{
  --black: #000000;
  --primary: #0f56b3;
  --grey-bg: #fbfbfb;
  --grey: #787878;
  --white: #ffffff;
  --blue10: #C5DCFA;
  --fontText: 700 1rem/150% Manrope;
}
body{
  margin: 0;
  background-color: var(--primary);
  color: var(--grey);
  font: var(--fontText);
  block-size: 100vh;
  min-block-size: 37.5rem;
}